$fontfamily: "Dongle";

// BACKGROUND COLORS
$bianco-1: #FFFFFF;
$bianco-2: #f8f9fc;
$bianco-3: #f8f9fc1a;
$verde-1: #6dc77a;
$azzurro-1: #32c2ec;
$verde-2: #2eca8b;
$verde-aqua: #00c9a7;
$orange: #f7961c;
$orange-2: #f17425;
$magenta: #ff5b69;
$azzurro-2: #17a2b8;
$viola: #766df4;
$rosso: #e43f52;
$viola-2: #7952b3;
$verde-university: #0f7173;
$bianco-4: #2f55d41a; //colore non corrisposto
$blu: #2f55d4;
$catrame: #3c4858;
$notte: #27314f;
$deepdark: #202942;
$azure: #007bff34;

// TEXT COLORS
$grigio: #adb5bd;
$grigio-2: #8492a6;
$blu-2: #007bff;
$nero: #161c2d;
$nero-2: #000000
